* {
    padding: 0;
    margin: 0;
}
.block {
    border: 10px solid red;
    padding: 1px;
 width: 1479px;
 height: 1850px;
 background-image: url(../site/img/quyon.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
/* background-image: radial-gradient(red 20%, blue, yellow 100%); */
}
.block1 {
background-repeat: round;
}
